body{
	background-color: black;
	margin:0;
	border-bottom:30px solid violet;
	height:100vh;
	box-sizing: border-box;
	position: relative;
	background-image: url("../cohete/img/fondo.jpg");
	background-size: cover;
	overflow: hidden;
}

#nave{
	position: absolute;
	bottom:0;
	width: 150px;
}